.zombies_div_login input[type="text"],
.zombies_div_registration input[type="text"] {
  width: 100%;
  display: inline-block;
  border: solid 1px lightcoral;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
}
.zombies_div_login input[type="password"],
.zombies_div_registration input[type="password"] {
  width: 100%;
  border: solid 1px lightcoral;
  border-radius: 5px;
  font-size: 20px;
}
.zombies_div_login,
.zombies_div_registration {
  width: 450px;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px;
  border: solid red 3px;
  border-radius: 15px;
  background-color: #f7b2b2;
}

.zombies_body_gameplay_container {
  margin: 0 auto;
  max-width: 1080px;
  min-width: 1050px;
  max-height: 960px;
  min-height: 960px;
  border: solid red 3px;
  border-radius: 15px;
}
.zombies_div_login button,
.zombies_div_registration button {
  width: 80px;
  float: right;
}

.zombies_div_login_separator {
  text-align: center;
}

.zombies_header_login,
.zombies_header_registration,
.zombies_header_gameplay {
  text-align: center;
}

br {
  clear: both;
}

.textbox {
  float: right;
}

.zombies_div_login_facebook {
  text-align: center;
}

.zombies_div_login_alternatives {
  text-align: center;
}

.facebook_icon {
  border: solid red 3px;
  border-radius: 15px;
}

.thank_you_message {
  font-size: small;
  text-align: center;
}

.login_error {
  color: black;
  text-align: center;
}

.center_text {
  text-align: center;
}

canvas {
  border-radius: 12px;
}
.error_text {
  font-weight: bold;
}
.error_text,
.error_text_header {
  text-align: center;
}
.error_text_header {
  text-decoration: underline;
}
.invite_code_invalid {
  text-align: center;
  color: black;
}
.logout_footer,
.back_to_login_footer {
  margin-top: 10px;
  text-align: center;
}
