.zombies_div_login input[type="text"],
.zombies_div_registration input[type="text"] {
  width: 100%;
  display: inline-block;
  border: solid 1px lightcoral;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
}
.zombies_div_login input[type="password"],
.zombies_div_registration input[type="password"] {
  width: 100%;
  border: solid 1px lightcoral;
  border-radius: 5px;
  font-size: 20px;
}
.zombies_div_login,
.zombies_div_registration {
  width: 450px;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px;
  border: solid red 3px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
}

.zombies_body_gameplay_container {
  margin: 0 auto;
  width: 1218px;
  min-width: 1200px;
  height: 800px;
  border: solid red 3px;
  border-radius: 15px;
}
.zombies_div_login button,
.zombies_div_registration button {
  width: 80px;
  float: right;
}

.zombies_div_login_separator {
  text-align: center;
}

.zombies_header_login,
.zombies_header_registration,
.zombies_header_gameplay {
  text-align: center;
}

.zombies_header_login img,
.zombies_header_registration img {
  border-radius: 15px;
  border: solid red 3px;
  width: auto;
  opacity: 0.8;
}

br {
  clear: both;
}

.textbox {
  float: right;
}

.zombies_div_login_facebook {
  text-align: center;
}

.zombies_div_login_alternatives {
  text-align: center;
}

.facebook_icon {
  border: solid red 3px;
  border-radius: 15px;
}

.thank_you_message {
  font-size: small;
  text-align: center;
}

.login_error {
  color: black;
  text-align: center;
}

.center_text {
  text-align: center;
}

canvas {
  border-radius: 12px;
  min-width: 1200px;
  height: 800px;
}
.error_text {
  font-weight: bold;
}
.error_text,
.error_text_header {
  text-align: center;
}
.error_text_header {
  text-decoration: underline;
}
.invite_code_invalid {
  text-align: center;
  color: black;
}
.logout_footer,
.back_to_login_footer {
  margin-top: 10px;
  text-align: center;
}
.div_code_resend {
  text-align: center;
}

.game_outer_interface_div_left {
  border-radius: 15px;
  margin-top: 10px;
}

.character_creation_container_div {
  border: solid red 3px;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  height: 450px;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 900px;
  background-image: url("Media/spooky_mall.png");
  color: white;
}
.character_creation_details_div,
.character_creation_preview_div {
  /* border: solid black 3px;
  border-radius: 15px; */
  margin: 0 auto;
}

.character_creation_details_div {
  padding: 20px;
  margin-bottom: 10px;
}
.character_creation_details_div input {
  margin: 5px;
}

.scrollable_avatar_selector {
  /* border: solid 3px black;
  border-radius: 15px; */
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-bottom: 20px;
}

.scrollable_avatar_selector img,
.character_preview_display_div img {
  border-radius: 15px;
  height: 100px;
  width: 100px;
}

.hidden {
  display: none;
}

.avatar_item {
  border: 2px solid lightgray;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 100px;
  width: 100px;
  background-color: lightgray;
}

/* this will be a separate div inside the preview div where the character details are displayed*/
.character_preview_display_div {
  /* border: solid black 3px;
  border-radius: 15px; */
  padding: 10px;
  margin: 10px;
}
.character_preview_display_div label {
  font-size: 20px;
  font-weight: bold;
}
.login_body,
.registration_body {
  min-width: 1280px;
  max-width: 1280px;
  background-image: url("Media/full_view_mall.jpg");
  background-repeat: no-repeat;
}

.game_profile_table {
  border: solid red 3px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-content: center;
}

#character_image {
  height: 80px;
  width: 80px;
  border-radius: 15px;
}

.game_profile_table {
  width: 100%;
}

.game_profile_table td,
.game_profile_table th {
  text-align: center;
}
hr {
  border: none;
  border-top: 3px double red;
  color: black;
  overflow: visible;
  width: 200px;
  text-align: center;
  height: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

hr:after {
  background: #fff;
  content: "or";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.inventory_modal {
  display: none;
  padding-top: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: auto;
  overflow: auto;
  background-color: lightcoral;
  border: solid black 2px;
  border-radius: 15px;
  opacity: 0.8 !important;
}
.inventory_table {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  border: solid 2px black;
  border-radius: 15px;
  width: 80%;
}
.inventory_table tr,
.inventory_table th {
  text-align: center;
}
.inventory_table th {
  text-decoration: underline;
}
.inventory_table td {
  padding: 10px;
  margin: 5px;
  text-align: center;
}

#inventory_close_button {
  background-color: none;
  float: right;
  font-size: 20px;
  margin-right: 15px;
}

#inventory_close_button:hover,
#inventory_close_button:focus {
  text-decoration: none;
  cursor: pointer;
}

.no-items-message {
  text-align: center;
}

@media only screen and (max-width: 880px) {
  .character_creation_container_div {
    display: flex;
    padding: 0;
    flex-direction: column-reverse;
    height: 650px;
  }
  .character_creation_preview_div {
    margin-bottom: 10px;
  }
}

#healthBar, #healthBarContainer {
    width: 200px;
    height: 10px;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    left: 0;
}

#healthBar {
    position: relative;
        top: 12px;
}
